.site-offcanvas {
  &.offcanvas {
    background-color: #1F1E20;
    border-radius: 20px;
    padding: 14px;
    top: 11px;
    height: calc(100% - 22px);
    max-width: 594px;
    width: 100%;
    @include respond(phone) {
      max-width: 330px;
    }
  }
  .btn-close {
    background-color: #1F1E20;
    width: 32px;
    height: 40px;
    padding: 0;
    text-align: center;
    background-image: url("../images/icons/icn-light-close.svg");
    background-size: 12px;
    opacity: 1;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px 0px 0px 20px;
  }
}

.offcanvas-backdrop {
  background-color: #ffffff36 !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 1 !important;
}