@import "bootstrap-scss/bootstrap";
@import "function";
@import "mixins";
@import "custom_variables";
@import "typography";
@import "utilities";
@import "button_styles";
@import "header";
@import "footer";
@import "confirm_dialog";
@import "auth";
@import "table";
@import "offcanvas";
@import "modal";
@import "forms";
@import "sidebar";
@import "custom";
@import "media";
@import "analysis";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.scroll{
  overflow: auto;
  scrollbar-color: #a5cbf7 #ffffff;
  scrollbar-width: thin;
  &::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
  }
  &::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    background-color: #1D2858;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #1D2858;
  }
}
input {
  &:focus-visible {
    outline: 0px !important;
  }
}